<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566125310921-7631mjnbethqe24pv7aaqb36mb703qeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566125310921-7631mjnbethqe24pv7aaqb36mb703qeb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566125310921-6dlkkoi9cm5c68u7uqjenej7a32onpjl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCps1ItBORLMYmI3BE7bSlXcfyrBYgK_wc</string>
	<key>GCM_SENDER_ID</key>
	<string>566125310921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapbrillia.learning</string>
	<key>PROJECT_ID</key>
	<string>snap-learning-745e8</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-learning-745e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566125310921:ios:c636c47a90fa26cf806e18</string>
</dict>
</plist>